.s-about {
    padding-bottom: 8.33vw;
    padding-top: 8.33vw;

}
@media only screen and (max-width: 768px) {
    .s-about {
        padding-bottom: 16.66vw;
    }
}
.s-about .about-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8.33vw;
    position: relative;
}
@media only screen and (max-width: 768px) {
    .s-about .about-container {
        display: block;
    }
}

.s-about .about-column {
    position: relative;
}
.s-about .about-column:first-child {
    flex-basis: 25vw;
    margin: 0 8.33vw 0 16.66vw;
}
@media only screen and (max-width: 768px) {
    .s-about .about-column:first-child {
        margin: 0;
        flex-basis: unset;
    }
}

// ************************************************

@media only screen and (max-width: 930px) {
    .s-about .about-column:nth-child(2) {
        margin: 0 8.33vw 0 16.66vw;
    }
}
@media only screen and (max-width: 768px) {
    .s-about .about-column:nth-child(2) {
        margin: 0;
    }
}

.s-about .about-column__links {
    opacity: 0.7;
    font-size: 0.833vw;
    line-height: 1.1vw;
    display: inline-block;
    width: 6vw;
    transition: 0.1s opacity linear;
    &:hover {
        opacity: 1;
    }
}
@media only screen and (max-width: 768px) {
    .s-about .about-column__links {
        font-size: 3vw;
        line-height: 5vw;
        margin-bottom: 4.167vw;
        display: block;
    }
}