.s-process .process-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 8.33vw;
    position: relative;
}
.s-process .process-container {
    margin: 0 8.33vw;
    padding-bottom: 8.33vw;
}

.s-process .process-step {
    margin-bottom: 8.33vw;
}
.s-process .process-icon {
    display: inline-block;
    padding-right: 1vw;
}

.s-process .process-column {
    position: relative;
}
.s-process .process-column:first-child {
    flex-basis: 25vw;
    margin: 0 25vw 0 0;
}
@media only screen and (max-width: 768px) {
    .s-process .process-column:first-child {
        margin: 0;
        flex-basis: unset;
    }
    h2 {
        font-size: 12vw;
    }
    
}
// @media only screen and (max-width: 768px) {
//     .s-process .paragraph-m {
//         font-size: 6vw;
//         line-height: 8vw;
//         margin-bottom: 8.33vw;
//     }
// }
.s-process .process-column:nth-child(2) {
    flex-basis: 25vw;
    padding-top: 16.66vw;
}
@media only screen and (max-width: 768px) {
    .s-process .process-column:nth-child(2) {
        margin: 0 0 16.66vw 0;
        flex-basis: unset;
    }
}
.s-process .process-column:nth-child(2) .paragraph-m {
    display: inline-block;
}
.s-process .process-column:nth-child(2) .paragraph-r {
    margin-bottom: 2.083vw;
}
.s-process .process-column:nth-child(2) .paragraph-r:last-of-type {
    margin-bottom: 0;
}